/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');


/* Global Rules */
:root {
    --main-duration: .2s;
    --primary-color: #323232;
    --secondary-color: #FBFBFD;
}


/* Reset code */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all var(--main-duration) ease-in-out;
    font-family: "Cairo", sans-serif;
}

/* Body Styling */
body {
    background-color: var(--secondary-color);
}

/* Header Styling */
header {
    background: #323232;
    height: 80px;
    padding: 0 1rem;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

header .logo, header .cta {flex:1}
header .header-nav {flex:2;}

/* Humburger Styling */
.humburger {
    cursor: pointer;
}
.humburger i {
    color: var(--secondary-color); 
    font-size: 2rem;
    margin-left: 1rem;
}

/* HEADER LOGO STYLING */
header .logo .logo-text {
    color: var(--secondary-color); 
    font-family: "Lalezar", "Cairo";
    font-size: 50px;
    
}

/* HEADER NAV STYLING */
header .header-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.list-item {
    color: var(--secondary-color); 
    text-decoration: none; 
    font-size: 15px;
    font-weight: bold;
    font-family: "Cairo", sans-serif;
}

.list-item.black {
    color: var(--primary-color);
}

/* HEADER CTA STYLING */
header .cta { 
    flex:2 !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .cta .btn {
    margin-right: .5rem;
    font-size: 15px;
}


/* Responsive Header styling */

@media screen and (max-width: 991px) {
    header .header-nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header .container {
        
    }
    header .cta {
        display: none;
        /* flex:2; */
    }

}

@media screen and (max-width: 500px) {
    .sidebar {
        width:100% !important; 
        right:-100% !important;
    }
    .sidebar.active {
        right:0 !important;
    }
}

.btn {
    padding: .5rem 1rem; 
    border-radius:20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    height: fit-content;
    min-width: 100px;
    font-weight: bold;
    height: 40px;
}

.btn i {
    margin-left:.5rem;
}

.btn-solid-light {
    background: var(--secondary-color); 
    color: #323232;
}

.btn-outline-light {
    border: 2px solid var(--secondary-color);
}

/* Style for profile */
.profile {
    cursor:pointer;
    margin-right: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f9f9f9;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.profile a {
    font-size: 20px !important;
    color: #323232;
}

/* sidebar styling */
.sidebar {
    width: 250px;
    min-height: calc(100vh - 80px);
    background-color: var(--primary-color);
    /* background:#fff; */
    padding: 1rem;
    color: var(--secondary-color);
    position: absolute;
    right: -250px;
    top: 80px;
    z-index: 10000;
    box-shadow: 0 6px 20px #32323240;
    /* border-left: 2px solid #323232; */
}



.sidebar ul {
    list-style-type: none;
    line-height: 3;
}

.sidebar ul li {
    margin-bottom:.5em ;
    padding: 0 .5rem;
}

.sidebar ul li:hover {
    background: #f9f9f920;
}

.sidebar ul li:last-child:hover {
    background: transparent;
}

.sidebar .list-item i {
    margin-left: .5rem;
}

.sidebar .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.sidebar .cta a{
    /* margin-bottom: 1rem; */
    width: fit-content;
}

/* .sidebar::after {
    content: "";
    position: absolute;
    right:250px; 
    top: 0;
    width: 100%;
    background: #00000020;
    height: calc(100vh - 80px);
} */

.sidebar.active {
    right:0;
}